<!DOCTYPE html>
<html lang="en">

    <head>
        <title>
            Daisy - A Static Site Generator.
        </title>
        <link rel="icon" type="image/x-icon" href="https://img.icons8.com/cotton/64/hearts--v7.png">
        (( usepartial (concat (.Site.root) "/layouts/partials/head.html") ))

    </head>

    <body>


        <div class="page">


        <header class="page__header">
            (( usepartial (concat (.Site.root) "/layouts/partials/header.html") ))

        </header>

            <section class="page__body">
                (( .Page.content ))
            </section>

            <section class="page__aside">
                <div class="aside__about">
                    (( usepartial (concat (.Site.root) "/layouts/partials/about.html") ))

                </div>
                <hr>
                <div class="aside__content">
                </div>
            </section>
           
            <footer class="page__footer">
                (( usepartial (concat (.Site.root) "/layouts/partials/footer.html") ))

            </footer>

        </div>
    </body>

</html>
