<div class="aside__about">
    <h1 class="about__title">Daisy</h1>
    <p class="about__description">A Static Site Generator Written in OCaml.</p>
    </div>
    
    <ul class="aside__social-links">
        <li>
            <a href="https://github.com/shafinsiddique/daisy" class="fa-brands fa-github"></a>
        </li>
        <li>
            <a href="https://twitter.com/_shafinsiddique" class="fa-brands fa-twitter"></a>
        </li>
        <li>
            <a href="mailto:siddiqueshafin20@gmail.com" class="fa-solid fa-envelope"></a>
        </li>
    </ul>
    
        