
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- FontAwesome <https://fontawesome.com/> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" />

<!-- Academicons <https://jpswalsh.github.io/academicons/> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.9.1/css/academicons.min.css" integrity="sha512-b1ASx0WHgVFL5ZQhTgiPWX+68KjS38Jk87jg7pe+qC7q9YkEtFq0z7xCglv7qGIs/68d3mAp+StfC8WKC5SSAg==" crossorigin="anonymous" />

<style>
    (( usepartial (concat (.Site.root) "/layouts/css/palettes/tokyo-night-dark.css") ))
    (( usepartial (concat (.Site.root) "/layouts/css/risotto.css") ))
    (( usepartial (concat (.Site.root) "/layouts/css/custom.css") ))
    (( usepartial (concat (.Site.root) "/layouts/css/about.css") ))
    (( usepartial (concat (.Site.root) "/layouts/css/colours.css") ))
    (( usepartial (concat (.Site.root) "/layouts/css/footer.css") ))
    (( usepartial (concat (.Site.root) "/layouts/css/header.css") ))
    (( usepartial (concat (.Site.root) "/layouts/css/layout.css") ))
    (( usepartial (concat (.Site.root) "/layouts/css/logo.css") ))
    (( usepartial (concat (.Site.root) "/layouts/css/typography.css") ))









</style>


